<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<div class="parent">
    <p>Give us a call or send us an email to book an appointment!</p>
    <div class="flex">
        <div class="divButton" tabindex="0">
          <i class="material-symbols-outlined" style="font-size: 30pt;">
            mail
          </i>
          <p class="buttonText">Email us</p>
          <a href="mailto:email@address.com" tabindex="-1">email&#64;address.com</a>
        </div>
        <div class="divButton" tabindex="0">
          <i class="material-symbols-outlined" style="font-size: 30pt;">
            call
          </i>
          <p class="buttonText">Call us</p>
          <a href="tel:+16136871111" tabindex="-1">613-687-1111</a>
        </div>
    </div>
</div>

