.parent {
    background-color: #eeeeee;
}

.flex {
    display: flex;
    justify-content: space-around;
}

p {
    font-family: skCuriosity;
    font-size: 24pt;
    text-align: center;
    margin-bottom: 15px;
}

.buttonText {
    margin: 0px;
    text-align: center;
    font-size: 2cqw;
}

.divButton {
    border-radius: 4px;
    text-align: center;
    padding: 4px;
    margin-bottom: 10px;
}

.divButton:hover {
    cursor: pointer;
    padding: 2px;
    border: solid 2px
}

.icon {
    font-size: 30pt;
}

@media only screen and (max-width: 1250px) {
    .parent {
        width: auto;
        height: auto;
    }

    p {
        font-size: 14pt;
    }

    .buttonText {
        margin: 0px;
        text-align: center;
        font-size: 1cqw;
    }

    a {
        font-size: 8pt;
    }
}