<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>

<div>
  <div class="head"> 
    <img class="logo"
    src="https://www.rcdsb.on.ca/en/resources/logo.png">
    <h1>RCDSB Signature Generator</h1>
    <div class="socials">
      <a href="https://www.facebook.com/people/Ottawa-Valley-Grill-Doctor/61561160636869/?_rdr"
      class="fa fa-facebook fa-5x" ></a>
    <a href="https://www.instagram.com/ottawavalley_grilldoctor/" class="fa fa-instagram fa-5x"
      ></a>
    </div>
  </div>
  <div class="pitch">
    <h2>A simple solution to a hazardous problem</h2>
    <p>We specialize in deep cleaning and degreasing for all types of barbecues.</p>
    <p>The <a href="https://www.oafc.on.ca/public-safety/seasonal-safety/summer-fire-safety">Ontario Association of Fire Chiefs</a> recommends you thoroughly clean your barbecue at least once a year.</p>
    <p>Don't let your busy schedule ruin the safety of your cookout, call us to book an appointment today!</p>
    <button>Book Appointment</button>
  </div>
  <div class="carousel-container">
    <div class="carousel banner1" [ngClass]="[currBanner == 1 ? 'banner1' : '', currBanner == 2 ? 'banner2' : '', currBanner == 3 ? 'banner3': '']">
      <div class="left-arrow">      
        <fa-icon [icon]="faChevronLeft" (click)="banner(-1)" tabindex="0" (keyup.enter)="banner(-1)"></fa-icon>
      </div>
      <div class="right-arrow">
        <fa-icon [icon]="faChevronRight" (click)="banner(1)" tabindex="0" (keyup.enter)="banner(1)"></fa-icon>
      </div>
    </div>
  </div>
  
</div>
<router-outlet />