<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>

<div>
  <div class="head"> 
    <!-- <img class="logo"
    src="/assets/logo-rcdsb.png">
    <h1>RCDSB Signature Generator</h1> -->
    <img class="logo"
    src="/assets/logo.png">
    <h1>Ottawa Valley Grill Doctor</h1>
    <div class="socials">
      <a href="https://www.facebook.com/people/Ottawa-Valley-Grill-Doctor/61561160636869/?_rdr"
      class="fa fa-facebook fa-5x" ></a>
    <a href="https://www.instagram.com/ottawavalley_grilldoctor/" class="fa fa-instagram fa-5x"
      ></a>
    </div>
  </div>
  <div class="background-image">
      <h2>A&nbsp; &nbsp;s&nbsp;i&nbsp;m&nbsp;p&nbsp;l&nbsp;e&nbsp; &nbsp;s&nbsp;o&nbsp;l&nbsp;u&nbsp;t&nbsp;i&nbsp;o&nbsp;n&nbsp; &nbsp;t&nbsp;o&nbsp; &nbsp;a&nbsp; &nbsp;h&nbsp;a&nbsp;z&nbsp;a&nbsp;r&nbsp;d&nbsp;o&nbsp;u&nbsp;s&nbsp; &nbsp;p&nbsp;r&nbsp;o&nbsp;b&nbsp;l&nbsp;e&nbsp;m&nbsp;</h2>
      <button (click)="openDialog()">Book Appointment</button>
  </div>
  <div class="first-row">
    <div class="pitch">
      <p class="pitch-header">We specialize in deep cleaning and degreasing for all types of barbecues.</p>
      <div class="pitch-flex">
        <div class="paragraph-container">
          <p>The Ontario Association of Fire Chiefs recommends you thoroughly clean your barbecue at least once a year.<sup>[<a href="https://www.oafc.on.ca/public-safety/seasonal-safety/summer-fire-safety">1</a>]</sup></p>
          <p>In Canada, 32% of all residential fires that occurred from 2015 to 2021 were caused by cooking equipment.<sup>[<a href="https://www.bflcanada.ca/article/bbqs-on-balconies-summer-fire-prevention/">2</a>]</sup></p>
          <p>Don't let your busy schedule ruin the safety of your cookout. Call us to book an appointment today!</p>
        </div>
        <div>
          <div class="carousel-container">
            <div class="carousel banner1" [ngClass]="[currBanner == 1 ? 'banner1' : '', currBanner == 2 ? 'banner2' : '', currBanner == 3 ? 'banner3': '']">
              <div class="left-arrow">      
                <fa-icon [icon]="faChevronLeft" (click)="banner(-1)" tabindex="0" (keyup.enter)="banner(-1)"></fa-icon>
              </div>
              <div class="right-arrow">
                <fa-icon [icon]="faChevronRight" (click)="banner(1)" tabindex="0" (keyup.enter)="banner(1)"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="review-row">
    review row
  </div>
  
</div>
<router-outlet />